@page
@model ARS_FE.Pages.UserPage.RankManagement.IndexModel

@{
    Layout = "_LayoutManage";
    ViewData["Title"] = "Ranks";
     var prevDisabled = !Model.Rank.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Rank.HasNextPage ? "disabled" : "";

    var minPage = Math.Max(1, Model.Rank.PageIndex - 2);
    var maxPage = Math.Min(minPage + 4, Model.Rank.TotalPages);
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rank[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rank[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rank[0].Discount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rank) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
