@page
@model ARS_FE.Pages.Staff.AirportManagement.IndexModel

@{
    Layout = "_LayoutManage";
    ViewData["Title"] = "Airports";

    var prevDisabled = !Model.Airport.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Airport.HasNextPage ? "disabled" : "";

    var minPage = Math.Max(1, Model.Airport.PageIndex - 2);
    var maxPage = Math.Min(minPage + 4, Model.Airport.TotalPages);

    var currentPageIndex = Model.Airport.PageIndex;
}

<div class="container mt-4">
    <h1 class="text-center mb-4">Airports Management</h1>

    <div class="text-right mb-3">
        <a asp-page="Create" class="btn btn-primary">Create Airport</a>
    </div>

    <table class="table table-hover table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Airport[0].Name)</th>
                <th class="text-center">City</th>
                <th class="text-center">Country</th>
                <th class="text-center">Status</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Airport.Count == 0)
            {
                <tr>
                    <td colspan="3" class="text-center">No Airports found.</td>
                </tr>
            }
            else
            {
                @foreach (var item in Model.Airport)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>                        
                        <td>@Html.DisplayFor(modelItem => item.City)</td>
                        <td>@Html.DisplayFor(modelItem => item.Country)</td>
                        <td class="text-center">
                            <span class="badge @(item.Status == "Active" ? "badge-success" : "badge-danger")">
                                @item.Status
                            </span>
                        </td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm mr-2">Edit</a>
                                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info btn-sm mr-2">Details</a>
                                
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <!-- Pagination section -->
    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center m-0">
                    <li class="page-item @prevDisabled">
                        <a class="page-link" aria-label="Previous"
                           asp-page="./Index"
                           asp-route-pageIndex="@(Model.Airport.PageIndex - 1)">
                            <span aria-hidden="true"><i class="bi bi-arrow-left"></i> Previous</span>
                        </a>
                    </li>

                    @for (var i = minPage; i <= maxPage; i++)
                    {
                        <li class="page-item @(Model.Airport.PageIndex == i ? "active" : "")">
                            <a class="page-link" asp-page="./Index"
                               asp-route-pageIndex="@i">@i</a>
                        </li>
                    }

                    <li class="page-item @nextDisabled">
                        <a class="page-link" aria-label="Next"
                           asp-page="./Index"
                           asp-route-pageIndex="@(Model.Airport.PageIndex + 1)">
                            <span aria-hidden="true">Next <i class="bi bi-arrow-right"></i></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

