@page
@model ARS_FE.Pages.UserPage.TicketManagement.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Dob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Dob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Booking)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Booking.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.TicketClass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.TicketClass.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ticket.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
