@page
@model ARS_FE.Pages.Staff.FlightClassManagement.DetailsModel

@{
    Layout = "_LayoutManage";
    ViewData["Title"] = "Flight Class Details";
}

<h1>Details</h1>

<div class="container mt-4">
    <h1 class="text-center">Flight Class Details</h1>

    <div class="card mb-4">
        <div class="card-header">
            <h4>@Html.DisplayFor(model => model.FlightClass.Class)</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Id</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.FlightClass.Id)</dd>

                <dt class="col-sm-3">Flight</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.FlightClass.FlightId)</dd>

                <dt class="col-sm-3">Class</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.FlightClass.Class)</dd>

                <dt class="col-sm-3">Quantity</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.FlightClass.Quantity)</dd>

                <dt class="col-sm-3">Price</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.FlightClass.Price)</dd>
            </dl>
        </div>
    </div>

    <div>
        <a asp-page="./Edit" asp-route-id="@Model.FlightClass.Id" class="btn btn-warning">Edit FlightClass</a>
        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
